.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #121212;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #121212;
}
.home-image {
  width: 3%;
  height: 3%;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  font-family: Montserrat;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-register {
  font-family: Montserrat;
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  fill: #ffffff;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #121212;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  width: 10%;
  height: 100%;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  fill: #D9D9D9;
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-buttons2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login1 {
  font-size: 30px;
  font-family: Montserrat;
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-register1 {
  font-size: 30px;
  font-family: Montserrat;
  text-decoration: none;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-container02 {
  flex: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #588e8b;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-container04 {
  flex: 1;
  width: 50%;
  height: 500px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: #b53b3b;
  font-size: 30px;
  font-family: Cabin Sketch;
}
.home-text01 {
  font-size: 40px;
  font-family: Lexend Deca;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-navlink {
  margin: var(--dl-space-space-oneandhalfunits);
  padding: var(--dl-space-space-unit);
  font-family: Montserrat;
  text-decoration: none;
}
.home-container06 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  justify-content: center;
}
.home-container08 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text06 {
  color: rgb(255, 255, 255);
  margin: var(--dl-space-space-halfunit);
  font-size: 50px;
  font-family: Cabin Sketch;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container10 {
  flex: 1;
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container11 {
  flex: 1;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #88945b;
}
.home-text07 {
  color: #ffffff;
  margin: var(--dl-space-space-unit);
  font-size: 50px;
  font-family: Cabin Sketch;
}
.home-text08 {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  font-family: Lexend Deca;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container12 {
  flex: 1;
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #9c2828;
}
.home-text09 {
  color: #ffffff;
  margin: var(--dl-space-space-unit);
  font-size: 50px;
  font-family: Cabin Sketch;
}
.home-text10 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-align: center;
  font-family: Lexend Deca;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: auto;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #121212;
}
.home-image1 {
  height: 2rem;
  object-fit: cover;
}
.home-text18 {
  color: white;
}
.home-icon-group1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .home-logo {
    width: 10%;
    height: 100%;
  }
  .home-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-login1 {
    font-size: 30px;
    border-width: 1px;
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-register1 {
    font-size: 30px;
  }
  .home-text01 {
    align-self: center;
    text-align: center;
  }
  .home-container10 {
    height: 400px;
  }
  .home-container11 {
    height: 100%;
    padding: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-text08 {
    padding: var(--dl-space-space-twounits);
    font-size: 25px;
  }
  .home-container12 {
    height: 400px;
  }
  .home-text10 {
    padding: var(--dl-space-space-twounits);
    font-size: 25px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image {
    width: 10%;
    height: 10%;
  }
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-logo {
    width: 10%;
    height: 100%;
  }
  .home-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-login1 {
    font-size: 30px;
    border-width: 1px;
  }
  .home-register1 {
    font-size: 30px;
  }
  .home-container08 {
    flex: 1;
  }
  .home-container09 {
    flex: 1;
  }
  .home-container10 {
    width: 100%;
    height: 400px;
  }
  .home-container11 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-text07 {
    margin: var(--dl-space-space-unit);
  }
  .home-text08 {
    padding: var(--dl-space-space-oneandhalfunits);
    font-size: 25px;
  }
  .home-text09 {
    margin: var(--dl-space-space-unit);
  }
  .home-text10 {
    padding: var(--dl-space-space-oneandhalfunits);
    font-size: 20px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text18 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-image {
    width: 10%;
    height: 10%;
  }
  .home-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-logo {
    width: 50%;
    height: 100%;
  }
  .home-icon02 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    align-self: flex-start;
  }
  .home-buttons2 {
    flex-direction: column;
  }
  .home-login1 {
    font-size: 30px;
    border-width: 1px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-register1 {
    font-size: 30px;
  }
  .home-container06 {
    width: 100%;
  }
  .home-container07 {
    flex: 1;
  }
  .home-text06 {
    width: 100%;
    height: 100%;
  }
  .home-container09 {
    flex-direction: column;
  }
  .home-container11 {
    flex: 1;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-text08 {
    width: 100%;
    height: 100%;
    font-size: 25.5px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container12 {
    width: 100%;
    height: 100%;
  }
  .home-text10 {
    padding: OneAndH0alfUnits;
    font-size: 15px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text18 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
